@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}



.lienMail {
  color: #fff;
  text-decoration: underline #fff 1px;
}




body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  max-width: 1024px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;

  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Dancing Script';
  font-weight: 300;
}

header {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  gap: 20px;
  font-family: 'Dancing Script';
}

.title_h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

p {
  font-size: 25px;
}

.nav-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.lienInPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 70px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: all 0.4s ease-in-out;
  color: #fff;
  text-decoration: none;
}

.lienInPage:hover {
  background-color: #fff;
  color: #333;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_stack {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #333;
  color: #fff;
  gap: 10px;
  height: 80px;
}

.profil {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: #fff;
  gap: 20px;
}

.profil_h2 {
  font-size: 40px
}

.profil_p {
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  padding: 20px;
  color: #fff;
  gap: 20px;
  margin-bottom: 25px;

}

.imgProfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.stack {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.stack_h2 {
  margin-bottom: 60px;
  font-size: 40px;
}

.stack_icons {

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #333;
}

.projects {
  width: 100%;
}

.project_h2 {
  font-size: 40px;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #333;
  height: 70px;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  gap: 10px;
  background-color: #333;
  color: #fff;
  width: 100%;
}

.card {
  width: 300px;
  height: 250px;
  filter: grayscale();
  transition: filter 0.4s ease-in-out;
}

.card:hover {
  filter: none;
}

.card_h3 {
  padding: 10px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  position: relative;
}

.card_h3::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  left: 50%;
  bottom: -5px;
  transition: all 0.4s ease-in-out;
}

.card_h3:hover::after {
  width: 100%;
  left: 0;
}

.card_web_site {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.contact_p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin-top: 0px;
  font-weight: 400;
  font-size: 30px;
}


/* -----------media min-width: 768px------------------*/

@media screen and (min-width: 768px) {

  /*---------------header---------------*/
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #333;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .title {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .title_h1 {
    font-size: 45px;
    margin-bottom: 0;
  }

  .nav-links {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
  }



  /*------------------main------------------*/

  .banner {
    height: 250px;
    padding: 0;
  }

  .profil_h2 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .banner p {
    font-size: 40px;
  }

  .profil {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 425px;
    margin: 0 auto;

  }

  .profil img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    shape-outside: content-box;
  }

  .profil p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 350px;
    width: 600px;
    line-height: 1.5;
    letter-spacing: 1px;
    font-size: 25px;
  }

  .stack {
    height: 400px;

  }

  .stack_h2 {
    font-size: 55px;
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .stack_icons {
    gap: 20px;
  }

  .stack_icons img {
    width: 60px;
    height: 60px;
  }

  .projects {
    height: 660px;
    background-color: #333;

  }


  .project_h2 {
    font-size: 55px;
    padding: 30px 0 0 0;
  }

  .cards {
    margin-top: 50px;
    padding: 50px;
    gap: 50px;
  }

  .card {
    width: 300px;
    height: 200px;
    margin-top: 30px;
  }

  /*------------footer-------------*/
  footer {
    height: 500px;

  }

  .contact_p {
    width: 350px;
    font-size: 45px;
  }

}